body {
    display: flex;
    flex-direction: column;
}

.contact-flex-container {
  display: flex; 
}

.contact-flex-item {
  margin: 5px; 
  padding: 5px; 
  background-color: aqua;
}
.section {
    width: 60vw;
    height: 80vh;
    background-color: #f4ecdf;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-me {
    display: flex;
}

.container {
    display: flex;
}

.container > img {
    width: auto;
    height: 300px;
}

p {
    flex-grow: 1;
}

.header {
    font-weight: bold;
}
