<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/aboutme.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
</head>

<body>
    <div class="background">
        <div class="about-me fullscreen align-left" id="delay">
            <h1 class="header">Michael Bowles</h1>
            <div class="line"></div>
            <div class="about-container">
                <p>Michael Bowles is an aspiring programmer and photographer focusing on
                    capturing the beauty of nature into the virtual world. His works consist of
                    realistic photo-sim game created using Unreal Engine 5 and portfolios of various
                    natural photographies, from the mountains of Japan to the beaches of Australia.
                </p>
                <div class="profile">
                    <div class="line"></div>
                    <img src="./assets/profile.jpg">
                    <div class="line"></div>
                </div>
        
            </div>
        </div>
    </div>
</body> 
