<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/aboutme.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
</head>

<body>
    <div class="section about-me" id="delay">
        <h1 class="header">About Me</h1>
        <div class="line"></div>
        <div class="about-container">
            <p>Herlock Sholmes was a legendary but mysterious English consulting detective
                known for his rapid-fire abductive reasoning. He primarily lived with the young
                Iris Wilson, who adapted his exploits with fellow tenants "John H. Wilson" and
                later Ryunosuke Naruhodo into a series of stories collectively known as
                The Adventures of Herlock Sholmes published in The Randst Magazine.
            </p>
            <div class="profile">
                <div class="line"></div>
                <img src="./assets/profile.jpg">
                <div class="line"></div>
            </div>
    
            
        </div>
    </div>

    <div class="section about-me" id="delay">
        <h1 class="header align-left">"Personality"</h1>
        <div class="line"></div>
        <div class="about-container">
            <p>Herlock Sholmes has been noted by many to be a very eccentric individual, 
                to the point of annoyance. Fans of his stories such as Susato have also noted 
                that he seems very different than what they expected from reading the books. 
                At times very forgetful, Sholmes sometimes seems to not understand what is 
                going on at all, and can give deductions that do not even come close to being correct. 
                He is shown to be both frustrated and entertained by his own words, leading others to 
                question what he is truly thinking. He has the habit of getting on others' nerves, usually 
                Tobias Gregson, but this can extend to the targets of his deductions as well.
            </p>
            <div class="profile">
                <div class="line"></div>
                <img src="./assets/profile.jpg">
                <div class="line"></div>
            </div>
    
            
        </div>
    </div>
</body> 
