<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./styles/contact.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
    <script src="https://kit.fontawesome.com/3c7e1f4ad4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Note: Only the div is needed -->
    <div id="contact"> 
      <div id=contact-main class="contact-item contact-flex-container">

        <div id="contact-form">
          <div id="form-wrapper">
            <h1>L...Let's chat 👉👈</h1>
            <div>To: bockacalls@gmail.com</div>
            <!-- <form action="post" style="height: 100%;" name="google-sheet">
              <input class="form-entry" type="text" placeholder="Name" />
              <br> 
              <input class="form-entry" type="text" placeholder="Email" />
              <br> 
              <input class="form-entry" type="text" placeholder="What do you want to tell me?" style="height: 30%;" />
              <br>
              <div class="form-entry" style="display:flex;justify-content:center">
                <input type="submit" value="Send!">
              </div>
            </form> -->
            <form
              action="https://formspree.io/f/mbjbobbv"
              method="POST"
              style="height: 100%;""
            >
              <label>
                Your name
                <br> 
                <input class="form-entry" type="text" placeholder="Namee" name="name"/>
              </label>
              <br> 
              <label>
                Your email
                <br> 
                <input class="form-entry" type="text" placeholder="Email" name="email"/>
              </label>
              <br> 
              <label>
                Your message
                <br> 
                <input class="form-entry" type="text" placeholder="Whaddayawanna tell me?" style="height: 30%;" name="message"/>
              </label>
              <br> 
              <button type="submit">Send!</button>
            </form>

            <script src="./components/contact.js" crossorigin="anonymous"></script>
          </div>
        </div> 
        
        <div id="contact-links-wrapper"> 
          <div id="contact-links">
            <i class="contact-icon fa-brands fa-linkedin fa-2x"></i>
            <i class="contact-icon fa-brands fa-github fa-2x"></i>
            <i class="contact-icon fa-brands fa-facebook fa-2x"></i>
          </div>
        </div>

      </div>
      
      <div id="contact-footer" class="contact-item">
        <br> Made with ❤️ <br> artsstudents @ hackiethon2022
      </div>

    </div>
  </body>
</html>