<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./styles/contact.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
    <script src="https://kit.fontawesome.com/3c7e1f4ad4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Note: Only the div is needed -->
    <div id="contact"> 
      <div id=contact-main class="contact-item contact-flex-container">
        <div id="contact-form">
          <div id="form-wrapper">
            <div class="has-text-success" style="font-size:xx-large;">L..Let's chat 👉👈</div>
            <div>To: bockacalls@gmail.com</div>
            <form
              action="https://formspree.io/f/mbjbobbv"
              method="POST"
              style="height: 100%;"
            >

              <div class="form-entry field">
                <label>Your name</label>
                <div class="control has-icons-left">
                  <input class="input is-small" type="text" placeholder="Name" name="name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="form-entry field">
                <label>Your Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-small is-success" type="email" placeholder="Email input" value="hello@">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">This email is valid</p>
              </div>
              
              <div class="contact-flex-container form-entry" style="gap: 4px">
                <div class="field" style="width: 50%;">
                  <label>Your message</label>
                  <div class="control">
                    <textarea class="textarea is-small" placeholder="Whaddayawanna tell me?" name="message"></textarea>
                  </div>
                </div>
                <div class="field">
                  <label>Saul Goodman?</label>
                  <div class="control">
                    <div class="select is-small">
                      <select>
                        <option>I Better Call Saul!</option>
                        <option>The greatest legal mind</option>
                        <option>Worked at Optiver</option>
                      </select>
                    </div>
                  </div>
                  <div id="buttons-wrapper" class="control">
                    <button class="button is-small">Reset</button>
                    <button class="button is-small is-success">Submit</button>
                  </div>
                </div>
              </div>
              

            </form>

            <script src="./components/contact.js" crossorigin="anonymous"></script>
          </div>
        </div> 
        
        <div id="contact-links-wrapper"> 
          <div id="contact-links">
            <a href="https://www.linkedin.com/in/saul-goodman-9b6aa21a0/" class="nostyle">
              <i class="contact-icon fa-brands fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/Ddoraaaaa/hackiethon-2022" class="nostyle">
              <i class="contact-icon fa-brands fa-github fa-2x"></i>  
            </a>
            <a href="https://www.facebook.com/AttorneySaulGoodman/" class="nostyle"> 
            <i class="contact-icon fa-brands fa-facebook fa-2x"></i>
          </div>
        </div>

      </div>
      
      <div id="contact-footer" class="contact-item">
        Made with ❤️ <br> artsstudents @ hackiethon2022
      </div>

    </div>
  </body>
</html>