<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <!-- Note: Only the div is needed -->
    <div id="contact"> 
      <h1>Let's chat!</h1> 
      <div class="contact-flex-container">
        <div class="contact-flex-item">
          <h2>Socials and links</h2>
          Insert some text here
          <div>(Logo) bockacalls@gmail.com | (+61)123-456-789</div> 
          <div>(Logo) Connect with me on <a href="">Linkedin</a></div>
          <div>(Logo) Check out my <a href="https://github.com/Ddoraaaaa/hackiethon-2022">Github</a></div>
        </div>
        <div class="contact-flex-item">
          <h2>I don't know what to put here</h2>
          <form action="#">
            <label>Name</label> 
            <br> 
            <input type="text"></input>
            <br> 
            <label>Your message</label>
            <br> 
            <textarea placeholder="placeholder text" rows="20" cols="50"></textarea>
            <br>
            <input type="submit" value="Submit">
          </form>
        </div> 
      </div>
    </div>
  </body>
</html>