<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="./styles/experience.css">

<div class="section swiper" id="horizontal">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper" id="add-card">
        <!-- add project and experiences -->
        <script src="./components/addpne.js"></script>

        <!-- <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div> -->
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<script src="./components/experience.js"></script>