.swiper {
  width: 100vw;
  height: 100vh;
  background-color: #AAE1D1;
}
.swiper-pagination-bullet { 
  width: 4vh;
  height: 4vh; 
  background-color: 'black';
}
.swiper-pagination-bullet-active { 
  width: 4vh;
  height: 4vh; 
  background-color: #5FC53B;
}

.enp-card {
  display: flex;
  justify-content: center;
}

.enp {
  display: flex;
  justify-content: center;
  flex-direction: column;
}